.bs-col {

    border: 1px solid red;
}


.bg-A {
    background-color: rgb(101, 134, 163);
}

.bg-B {
    background-color: rgb(81, 201, 25);
}

.bg-C {
    background-color: rgb(196, 103, 41);
}

.bg-D {
    background-color: rgb(87, 25, 201);
}

.bg-E {
    background-color: rgb(4, 58, 18);
}

.bg-F {
    background-color: rgb(205, 184, 245);
}


.bg-G {
    background-color: rgb(5, 45, 80);
}

.bg-H {
    background-color: rgb(201, 25, 92);
}

.bg-I {
    background-color: rgb(70, 64, 61);
}

.bg-J {
    background-color: rgb(20, 1, 54);
}

.bg-K {
    background-color: rgb(233, 175, 194);
}

.bg-L {
    background-color: rgb(228, 222, 240);
}