section {
	margin-top: 2px;
	display: flex !important;
	justify-content: space-around;
	flex-wrap: wrap;
}

.fbContainer{
	margin: 10px 0 10px 0;
	padding: 10px;
}

.fbRow{
}

.fbCol{
	position: static !important;
}