.tahtisade-criticPage-scrollableList {
  height:500px;
  max-height: 50vh;
  overflow-y: scroll;
}

/* 
 * Hakukenttään syötettyä tekstiä vastaavan osuuden korostus osuman saaneiden
 * kriitikkjen nimessä
 */
.tahtisade-criticPage-String-Emph {
    text-decoration: underline;
}

/*
 * Kriitikkojen nimilista
 */
.tahtisade-criticPage-list-group-item {
    padding: .25rem 0.5rem!important;
    cursor: pointer
}

.tahtisade-criticPage-list-group-itemActive {
    background-color: #0e094e!important;
    color: #fff; 
}

.tahtisade-criticPage-list-group-itemActive > .tahtisade-criticPage-text-muted{
    color: #fff;
}

.tahtisade-criticPage-text-muted {
    color: #6c757d;
}


.tahtisade-criticPage-list-group-item:hover {
    background-color: #2586d7;
    color: #fff;
}

.tahtisade-criticPage-list-group-item:hover > .tahtisade-criticPage-text-muted{
    color: black;
}
