@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container-fluid .row .col-3 h1,
.container-fluid .row .col-3 p {
    font-family: 'Josefin Sans', cursive;
}

.navbar-nav a {
    color: white;
    margin-left: 10px;
    font-size: xx-large;

}
