@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.container-fluid .row .col-3 h1,
.container-fluid .row .col-3 p {
    font-family: 'Josefin Sans', cursive;
}

.navbar-nav a {
    color: white;
    margin-left: 10px;
    font-size: xx-large;

}

.bcolor {
    background-color: aliceblue;
}

.border-2 {
    border: 1px dotted lightgray;
    border-radius: 3px;
    box-shadow: 0px 1px 2px black;
}

.border-bt {
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}

.black {
    background-color: black;
}

.white {
    color: white;
}