.settings-accordion {
  /*
    display: block !important;
    padding: 0 !important;
    */
    padding: 0 !important;
}

.settings-accordion:hover {}

.settings-accordion-card {}

.settings-accordion-header {}

.settings-accordion-toggle {
  cursor: pointer;
}

.settings-accordion-Collapse {
    
}


.settings-accordion-cardBody {
  padding: 0.5rem !important;
}