/*
 * V Ä L I L E H D E T
 */
.movies-page-tab  {
    padding-top: 20px;
}

/*
 * T A U L U K K O E S I T Y S
 */

 
 /*
  * K U V A K K E E T
  */

.containerMovies {
    /*
    border: 1px solid green;
    background-color: green;
    */
}

.rowTotalNumbOfMovies, .rowPagination {
    padding: 5px;
}

.rowMovies {
    
    border: 2px solid black;
    /*
    background-color: yellow;
    */
    padding: 5px;
}

.colMovies {
    /*
    background-color: navy;
*/
}

/* I L M O I T U S   E L O K U V I E N   M Ä Ä R Ä S T Ä */
p.summary {
    font-size: 18px;
    font-weight: bolder;
}
