.fbModal {

  width: 90%;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index:101; 

}

.fbModal-Col {
  border: 1px solid red; 
}

.modalHeader {
  padding: 1rem;
  background: #5101d1;
  color: white;
}

.modalHeader h1 {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .fbModal {
    width: 25rem;
    left: calc((100% - 25rem) /2);
  }
}